@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 1, 1);
    color: #fff;
    overflow-x: hidden;
}

.app { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

.thumbnails-container {
    flex-wrap: wrap;
    display: flex;
    padding-left: 18px;
}

.main-header > h1 {
    font-size: 2.4rem;
    padding: 20px;
    letter-spacing: 1.5px;
}

.thumbnail {
    width: 200px;
    height: 150px;
    object-fit: cover;
    filter: brightness(40%);
    transition: all .3s ease;
    padding: 10px;
}

.thumbnail:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.fs-hidden {
    display: none;
}

.fs-opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    backdrop-filter: blur(6px);
}

.header > span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.arrow-left, .arrow-right {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.623);
    background-color: rgba(0, 0, 0, 0.301);
    padding: 10px 15px;
    border-radius: 3px;
    position: absolute;
    transform: translateY(-50%, 50%);
    transition: all .27s ease;
    user-select: none;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.arrow-left:hover, .arrow-right:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.527);
}

#full-screen-image > img {
    width: 400px;
    max-height: 600px;
    object-fit: contain;
}
