@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700&display=swap');

:root {
	--blue-color: #2ac3f2;
    --grey-color: #e0e5eb;
}

* {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.app { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #2ac3f2 0%,
        #2ac3f2 60%,
        #e0e5eb 60%,
        #e0e5eb 100%
    );
}


.head {
    color:#fff;
    font-size: 1rem;
    padding: 10px 20vw;
    text-align: center;
    letter-spacing: 0.7px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    margin-top: 4rem;
}

.right-column {
    margin-top: -4rem;
}

.card {
    background-color: #fff;
    width: 230px;
    height: 250px; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card > span {
    background-color: var(--blue-color);
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    font-weight: 100;
}

.card > h4 {
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 12px;
    padding: 10px;
    font-weight: 800;
}

.card > p {
    font-size: 11px;
    font-style: italic;
    color: rgb(156, 161, 165);
    line-height: 19px;
}

a {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    padding-top: 10px;
}

@media only screen and (min-width: 390px) and (max-width: 700px) {
    .card {
        width: 200px;
    }
}

@media only screen and (max-width: 400px) and (max-height: 750px) { 
    .cards {
        flex-direction: column;
    }

    .card {
        width: 120px;
        height: 120px;
        margin: 4px;
    }

    .left-column, .right-column {
        margin-top: 0;
    }

    .card > span {
        padding: 4px;
        font-size: 10px;
    }
    
    .card > h4 {
        font-size: 8px;
        padding: 4px;
    }
    
    .card > p {
        font-size: 6px;
        line-height: 10px;
    }
    
    a {
        font-size: 8px;
        padding-top: 5px;
    }
    
}

@media only screen and (min-width: 389px) and (max-width: 420px) and (max-height: 920px) {
    .left-column, .right-column {
        margin-top: 0;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 140px;
        height: 160px;
        margin: 6px;
        padding: 4px;
    }

    .card > span {
        font-size: 16px;
        padding: 4px;
    }

    .card > h4 {
        font-size: 10px;
        padding: 4px;
    }
    
    .card > p {
        font-size: 9px;
        line-height: 16px;
    }
    
    a {
        font-size: 8px;
        padding-top: 5px;
    }
}